- model_class = @waiter.class
%h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:full_name) + ':'
  %br
  = @waiter.full_name
%p
  %strong= model_class.human_attribute_name(:zone) + ':'
  %br
  = link_to @waiter.zone.name, frontoffice_restaurant_zone_path(@waiter.restaurant, @waiter.zone) if @waiter.zone
%p
  %strong= model_class.human_attribute_name(:api_token) + ':'
  %br
  = @waiter.device.authentication_token if @waiter.device

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), frontoffice_restaurant_waiters_path(@waiter.restaurant), :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_frontoffice_restaurant_waiter_path(@waiter.restaurant, @waiter), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), frontoffice_restaurant_waiter_path(@waiter.restaurant, @waiter), :method => "delete", :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-danger'
