= simple_form_for [:frontoffice, @employee], :html => { :class => 'form-horizontal' } do |f|
  = f.input :username
  = f.input :password
  = f.input :password_confirmation
  = f.button :wrapped, :cancel => frontoffice_employees_path